In [16]:
import pandas as pd

In [2]:
adf = pd.DataFrame({"x1":['A','B','C'], "x2": [1,2,3]})
adf

  x1  x2
0  A   1
1  B   2
2  C   3

In [3]:
bdf = pd.DataFrame({"x1":['A','B','D'], "x3": ["T","F","T"]})
bdf

  x1 x3
0  A  T
1  B  F
2  D  T

In [5]:
pd.merge(adf,bdf, how='left', on='x1') #left(adf)를 기준으로 --> bdf에 C없기때문에 NaN

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN

In [6]:
pd.merge(adf,bdf, how='right', on='x1')

  x1   x2 x3
0  A  1.0  T
1  B  2.0  F
2  D  NaN  T

In [7]:
pd.merge(adf,bdf, how='inner', on='x1') # 둘다 있는 부분만 merge (and)

  x1  x2 x3
0  A   1  T
1  B   2  F

In [8]:
pd.merge(adf,bdf, how='outer', on='x1')  # or 방식

  x1   x2   x3
0  A  1.0    T
1  B  2.0    F
2  C  3.0  NaN
3  D  NaN    T

In [9]:
bdf.x1

0    A
1    B
2    D
Name: x1, dtype: object

In [11]:
adf.x1.isin(bdf.x1)

0     True
1     True
2    False
Name: x1, dtype: bool

In [10]:
adf[adf.x1.isin(bdf.x1)]

  x1  x2
0  A   1
1  B   2

In [12]:
adf[~adf.x1.isin(bdf.x1)]

  x1  x2
2  C   3

___

In [17]:
ydf = pd.DataFrame({"x1":['A','B','C'], "x2": [1,2,3]})
ydf

  x1  x2
0  A   1
1  B   2
2  C   3

In [18]:
zdf = pd.DataFrame({"x1":['B','C','D'], "x2": [2,3,4]})
zdf

  x1  x2
0  B   2
1  C   3
2  D   4

In [19]:
pd.merge(ydf,zdf)

  x1  x2
0  B   2
1  C   3

In [20]:
pd.merge(ydf,zdf, how='outer')

  x1  x2
0  A   1
1  B   2
2  C   3
3  D   4

In [22]:
pd.merge(ydf, zdf, how='outer', indicator=True) # indicator 어디서 어떻게 왔는지 표시

  x1  x2      _merge
0  A   1   left_only
1  B   2        both
2  C   3        both
3  D   4  right_only

In [29]:
pd.merge(ydf, zdf, how='outer', indicator=True
        ).query('_merge == "left_only"')
# query -- 해당 값만 가져오기

  x1  x2     _merge
0  A   1  left_only

In [28]:
pd.merge(ydf, zdf, how='outer', indicator=True
        ).query('_merge == "left_only"'
        ).drop(columns=['_merge'])

  x1  x2
0  A   1

### concat은 위아래로 합칠떄, merge는 좌우로 합칠떄 사용하면 편할듯