In [5]:
import pandas as pd
import numpy as np

In [17]:
df = pd.DataFrame({'A': range(1,11), 'B': np.random.randn(10)})

In [18]:
df

    A         B
0   1  0.640590
1   2 -0.742101
2   3  0.909308
3   4  0.426268
4   5 -1.216100
5   6  0.894982
6   7  0.287427
7   8 -0.218650
8   9  0.596521
9  10 -0.767905

In [19]:
df.assign(ln_A = lambda x: np.log(x.A)) # 원래 df에는 변화 없음

    A         B      ln_A
0   1  0.640590  0.000000
1   2 -0.742101  0.693147
2   3  0.909308  1.098612
3   4  0.426268  1.386294
4   5 -1.216100  1.609438
5   6  0.894982  1.791759
6   7  0.287427  1.945910
7   8 -0.218650  2.079442
8   9  0.596521  2.197225
9  10 -0.767905  2.302585

In [20]:
df

    A         B
0   1  0.640590
1   2 -0.742101
2   3  0.909308
3   4  0.426268
4   5 -1.216100
5   6  0.894982
6   7  0.287427
7   8 -0.218650
8   9  0.596521
9  10 -0.767905

In [21]:
df['ln_A'] = np.log(df.A)

In [22]:
df

    A         B      ln_A
0   1  0.640590  0.000000
1   2 -0.742101  0.693147
2   3  0.909308  1.098612
3   4  0.426268  1.386294
4   5 -1.216100  1.609438
5   6  0.894982  1.791759
6   7  0.287427  1.945910
7   8 -0.218650  2.079442
8   9  0.596521  2.197225
9  10 -0.767905  2.302585

In [28]:
pd.qcut(df.B, 2, labels=['good', 'bad'])

0     bad
1    good
2     bad
3     bad
4    good
5     bad
6    good
7    good
8     bad
9    good
Name: B, dtype: category
Categories (2, object): [good < bad]

In [40]:
df.min(axis=0) # A column은 고정이고 row가 증가할 때, 최솟값

A       1.0000
B      -1.2161
ln_A    0.0000
dtype: float64

In [39]:
df.max(axis=1) # 0 row는 고정이고 column가 증가할 때, 최댓값

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float64

In [37]:
df['A'].clip(lower=2, upper=8)

0    2
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    8
9    8
Name: A, dtype: int64

In [38]:
df["B"].abs()

0    0.640590
1    0.742101
2    0.909308
3    0.426268
4    1.216100
5    0.894982
6    0.287427
7    0.218650
8    0.596521
9    0.767905
Name: B, dtype: float64