In [1]:
import pandas as pd

In [ ]:
pd.concat?

In [5]:
s1 = pd.Series(['a', 'b'])
s1

0    a
1    b
dtype: object

In [6]:
s2 = pd.Series(['c','d'])
s2

0    c
1    d
dtype: object

In [8]:
pd.concat([s1,s2], ignore_index=True)

0    a
1    b
2    c
3    d
dtype: object

In [12]:
pd.concat([s1,s2], keys=['s1','s2'], names=['Series name', 'Row ID'])

Series name  Row ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object

In [13]:
df1 = pd.DataFrame([['a', 1], ['b', 2]],
                   columns=['letter', 'number'])
df1

  letter  number
0      a       1
1      b       2

In [14]:
df2 = pd.DataFrame([['c', 3], ['d', 4]],
                   columns=['letter', 'number'])
df2

  letter  number
0      c       3
1      d       4

In [15]:
pd.concat([df1,df2])

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [16]:
df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
                   columns=['letter', 'number', 'animal'])

df3

  letter  number animal
0      c       3    cat
1      d       4    dog

In [27]:
pd.concat([df1,df3])

/opt/conda/envs/tf/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

  animal letter  number
0    NaN      a       1
1    NaN      b       2
0    cat      c       3
1    dog      d       4

In [19]:
pd.concat([df1,df3], join="inner") # NaN 값 있으면 지워줌

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [21]:
df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
                   columns=['animal', 'name']) # Series 에서는 names로 이름 지정
df4

   animal    name
0    bird   polly
1  monkey  george

In [22]:
df5 = pd.DataFrame([1], index=['a'])
df5

   0
a  1

In [23]:
df6 = pd.DataFrame([2], index=['a'])
df6

   0
a  2

In [26]:
pd.concat([df5,df6], verify_integrity=True) # 중복되는 index 있으면 오류

ValueError: Indexes have overlapping values: Index(['a'], dtype='object')